# General
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml
*.pyc
__pycache__/

# IntelliJ IDEA
*.ipr
*.iws
out/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# WebStorm
*.js.map
