# Python Bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache
*.cover
*.pyc
*.pyo

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# IDE-specific files
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Secrets
*.env